<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-heading">
            <div class="pull-left" style="margin-top:3px;"><span>ข้อมูลผลิตภัณฑ์</span></div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-5">
                    <div class="panel panel-blue-search">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col-md-6 text-left">
                                    <div style="font-size:16px;margin-top:6px;">เงื่อนไขในการค้นหา</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right" >
                                        <div class="btn btn-default btn-panel-yellow " onclick="stdSearch();">&nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;ค้นหา&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <form >
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input id="searchword" class="form-control" placeholder="ชื่อผลิตภัณฑ์" autocomplete="off" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">กลุ่มผลิตภัณฑ์</label></div>
                                        <div class="col-md-7">
                                            <select id="saleproduct_group_code" class="form-control" asp-items="@ViewBag.product_group" ></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">ประเภทผลิตภัณฑ์</label></div>
                                        <div class="col-md-7">
                                            <select id="saleproduct_type_code" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:3px;">การรับรองมาตรฐาน</label></div>
                                        <div class="col-md-7" style="margin-top:0px;">
                                            <label class="checkbox-inline text-left" onclick="stdAllClick()">
                                                <input id="stdAll" type="checkbox" /><b>ทั้งหมด</b>
                                            </label><br />
                                            <div class="panel-body" style="height:150px;overflow:scroll;background-color:#FAFAFA;">
                                                <div style="margin-top:-10px;margin-bottom:-15px;" id="stdBox">
                                                    @Html.Raw(ViewBag.standard)
                                                </div>
                                            </div>
                                            @*<select id="mem_saleproduct_group_code" class="form-control" asp-items="@ViewBag.product_group"></select>*@
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-2 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;margin-right:-10px">ราคา</label></div>
                                        <div class="col-md-4">
                                            <input id="searchword" class="form-control" placeholder="จาก" autocomplete="off" />
                                        </div>
                                        <div class="col-md-1 text-center"><label class="control-label" style="font-size:16px;margin-top:6px;">-</label></div>
                                        <div class="col-md-4">
                                            <input id="searchword" class="form-control" placeholder="ถึง" autocomplete="off" />
                                        </div>
                                    </div>

                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;">การขนส่ง</label></div>
                                        <div class="col-md-7" style="margin-top:-1px;">
                                            <label class="checkbox-inline text-left" onclick="deliverAllClick()">
                                                <input id="deliverAll" type="checkbox" /><b>ทั้งหมด</b>
                                            </label><br />
                                            <div class="panel-body" style="margin-top:-15px;" >
                                                <div>
                                                    <label class="checkbox-inline text-left">
                                                        <input id="delivery_post" type="checkbox" />ไปรษณีย์
                                                    </label><br/>
                                                    <label class="checkbox-inline text-left">
                                                        <input id="delivery_bus" type="checkbox" />รถทัวร์
                                                    </label><br/>
                                                    <label class="checkbox-inline text-left">
                                                        <input id="delivery_train" type="checkbox" />รถไฟ
                                                    </label><br />
                                                    <label class="checkbox-inline" >
                                                        <input id="delivery_other" type="checkbox" />อื่นๆ
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </form>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="pull-right">
                                        <div class="btn btn-default btn-panel-yellow " onclick="stdSearch();">&nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;ค้นหา&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-9 col-sm-7">
                    <div id="searchResult" class="well col-md-12">
                        @*<br/><br/><br /><br /><br /><br /><br /><br /><br /><br /><br />*@

                    </div>
                </div>
            </div>





        </div>






        <div>




        </div>
    </div>



</div>

<!-- Modal -->
<div class="modal fade modalForm1" id="a_modal" tabindex="-1" role="dialog" aria-labelledby="a_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="a_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="a_label" style="vertical-align:middle;"></h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="a_body"></div>
                <br /><br />
                <div class="pull-right" style="margin-top:-2px;">
                    <div class="btn btn-default btn-panel-yellow" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>

        </div>

    </div>


</div>
<!-- /Modal -->
<!-- Modal confirm -->
<div id="c_modal" class="modal fade modalForm1" tabindex="-1" role="dialog" aria-labelledby="confirm_Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="c_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="c_Label" style="vertical-align:middle;">ยืนยันการลบกลุ่มผู้ใช้</h4>
            </div>
            <div class="modal-body container-fluid">
                <div>ยืนยันการลบกลุ่มผู้ใช้?</div>
                <br />
                <div>กลุ่มผู้ใช้: <span id="c_rolename" style="color:red"></span></div><br />
                <hr />
                <div class="row">
                    <div class="col-md-4"><button id="btnConfirm" class="btn btn-panel-yellow pull-right" onclick="roleDelete();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยืนยัน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
                    <div class="col-md-4 col-md-offset-4">
                        <button id="btnCancel" class="btn btn-default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal confirm -->

@section Scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {

            $('#saleproduct_group_code').off('change').on('change', function () {
                $.ajax({
                    type: 'get', url: '@Url.Action("GetProductTypeAsSelect", "saleproducts")' + '?product_group_code=' + $('#saleproduct_group_code').val(),
                }).done(function (resp) {
                    if (resp != "") {
                        $('#saleproduct_type_code').empty();
                        $('#saleproduct_type_code').append(resp);
                        $('#saleproduct_type_code').trigger("change");
                    } else {
                        $('#saleproduct_type_code').empty();
                    }
                });
            });
            $('#saleproduct_group_code').trigger("change");

            $("#stdAll").prop('checked', true); stdAllClick();
            $("#deliverAll").prop('checked', true); deliverAllClick();

        });

        function stdAllClick() {
            if ($("#stdAll").prop('checked')) {
                $("input[id*='std_']").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input[id*='std_']").each(function () {
                    $(this).prop('checked', false);
                });
            }
        }
        function deliverAllClick() {
            if ($("#deliverAll").prop('checked')) {
                $("input[id*='delivery']").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input[id*='delivery']").each(function () {
                    $(this).prop('checked', false);
                });
            }
        }
        function stdSearch() {
            var searchword = $("#searchword").val().trim();
            $('#searchResult').empty();
            $.ajax({
                type: 'post', url: '@Url.Action("Search", "saleproducts")' + '?searchword=' + searchword, // + "&saleproduct_code=" + saleproduct_code,
            }).done(function (resp) {
                if (resp != "") {
                    resp = JSON.parse(resp); 
                    for (var i = 0; i < resp.length; i++) {
                        var imgblock = '<div id="' + resp[i].saleproduct_code + '" class="img-thumbnail" style="height:265px;width:250px;margin-bottom:15px;margin-right:15px;">';
                        var idIsMark = "ismark" + resp[i].saleproduct_code;
                        imgblock += '<img id="imgPd' + resp[i].saleproduct_code + '" class="img-responsive center-block" style="margin-top:0px;height:200px;cursor:pointer;cursor:hand;" src="' + '@Url.Action("image", "pic_image")' + '?id=' + resp[i].image_code + '" />';

                        var desc = "";
                        if (resp[i].saleproduct_desc != "") {
                            //if (resp[i].saleproduct_desc.length > 25) {
                            //    desc = resp[i].saleproduct_desc.substring(0, 25) + '...';
                            //} else { desc = resp[i].saleproduct_desc; }
                            desc = resp[i].saleproduct_desc;
                        } else { desc = "&nbsp;"; }
                        var idDesc = "desc" + resp[i].saleproduct_code;
                        imgblock += '<div id="' + idDesc + '" style="margin-top:5px;width:100%;text-align:center;font-weight:bold;" >' + desc + '</div>';

                        var desc2 = "";
                        if (resp[i].retail_price != "") {
                            desc2 = resp[i].retail_price;
                        } else { desc2 = "&nbsp;"; }
                        var idDesc2 = "desc2" + resp[i].retail_price;
                        imgblock += '<div id="' + idDesc2 + '" style="margin-top:5px;width:100%;text-align:center;font-weight:bold;" >ราคา ' + desc2 + ' บาท</div>';


                        imgblock += '</div>';

                        $('#searchResult').append(imgblock);
                    }
                }
            });



        }





    </script>
}
