<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-heading">
            <div class="pull-left" style="margin-top:3px;"><span>ข้อมูลผลิตภัณฑ์</span></div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-5">
                    <div class="panel panel-blue-search">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col-md-6 text-left">
                                    <div style="font-size:16px;margin-top:6px;">เงื่อนไขในการค้นหา</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right" >
                                        <div class="btn btn-default btn-panel-yellow " onclick="SearchProduct();">&nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;ค้นหา&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <form >
                                @*<div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input id="searchword" class="form-control" placeholder="ชื่อผลิตภัณฑ์" autocomplete="off" />
                                </div>*@
                                <div class="form-group">
                                    <input id="searchword" class="form-control" placeholder="ชื่อผลิตภัณฑ์" autocomplete="off" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">กลุ่มผลิตภัณฑ์</label></div>
                                        <div class="col-md-7">
                                            <select id="saleproduct_group_code" class="form-control" asp-items="@ViewBag.product_group" ></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">ประเภทผลิตภัณฑ์</label></div>
                                        <div class="col-md-7">
                                            <select id="saleproduct_type_code" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:3px;">การรับรองมาตรฐาน</label></div>
                                        <div class="col-md-7" style="margin-top:0px;">
                                            <label class="checkbox-inline text-left" onclick="stdAllClick()">
                                                <input id="stdAll" type="checkbox" /><b>ทั้งหมด</b>
                                            </label><br />
                                            <div class="panel-body" style="height:150px;overflow:scroll;background-color:#FAFAFA;">
                                                <div style="margin-top:-10px;margin-bottom:-15px;" id="stdBox">
                                                    @Html.Raw(ViewBag.standard)
                                                </div>
                                            </div>
                                            @*<select id="mem_saleproduct_group_code" class="form-control" asp-items="@ViewBag.product_group"></select>*@
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-2 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;margin-right:-10px">ราคา</label></div>
                                        <div class="col-md-4">
                                            <input id="minPrice" class="form-control" placeholder="จาก" autocomplete="off" />
                                        </div>
                                        <div class="col-md-1 text-center"><label class="control-label" style="font-size:16px;margin-top:6px;">-</label></div>
                                        <div class="col-md-4">
                                            <input id="maxPrice" class="form-control" placeholder="ถึง" autocomplete="off" />
                                        </div>
                                    </div>

                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;">การขนส่ง</label></div>
                                        <div class="col-md-7" style="margin-top:-1px;">
                                            <label class="checkbox-inline text-left" onclick="deliverAllClick()">
                                                <input id="deliverAll" type="checkbox" /><b>ทั้งหมด</b>
                                            </label><br />
                                            <div class="panel-body" style="margin-top:-15px;" >
                                                <div>
                                                    <label class="checkbox-inline text-left" onclick="deliverClick()">
                                                        <input id="delivery_post" type="checkbox" />ไปรษณีย์
                                                    </label><br/>
                                                    <label class="checkbox-inline text-left" onclick="deliverClick()">
                                                        <input id="delivery_bus" type="checkbox" />รถทัวร์
                                                    </label><br/>
                                                    <label class="checkbox-inline text-left" onclick="deliverClick()">
                                                        <input id="delivery_train" type="checkbox" />รถไฟ
                                                    </label><br />
                                                    <label class="checkbox-inline" onclick="deliverClick()">
                                                        <input id="delivery_other" type="checkbox" />อื่นๆ
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </form>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="pull-right">
                                        <div class="btn btn-default btn-panel-yellow " onclick="SearchProduct();">&nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;ค้นหา&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-9 col-sm-7">
                    <div id="searchResult" class="well col-md-12" style="display:inline-block;" >
                        <br/><br/><br /><br /><br /><br /><br /><br /><br /><br /><br />

                    </div>

                    <div id="detailsSaleProduct" class="col-md-12" style="display:none;position:absolute;margin-left:-20px;" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <div class="btn btn-default btn-panel-yellow " onclick="hideDetails()">&nbsp;<i class="fa fa-mail-reply" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;กลับ&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </div>

                                <div class="pull-right">
                                    <div class="btn btn-default btn-panel-yellow " onclick="console.log('reserve');">&nbsp;&nbsp;&nbsp;จอง&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </div>

                                <div style="margin-left:100px;height:35px;">
                                    <ol class="breadcrumb" id="breadcrumbGroup">

                                    </ol>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div id="saleproductImage" class="carousel slide" data-ride="carousel" data-interval="false" style="background-color:#1F1F1F;">
                                            
                                            <ol id="saleproductImageIndicators" class="carousel-indicators">
                                                <li data-target="#saleproductImage" data-slide-to="0" class="active"></li>
                                            </ol>

                                            
                                            <div id="saleproductImageInner" class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <img src="">
                                                </div>
                                            </div>

                                            <a class="left carousel-control" href="#saleproductImage" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#saleproductImage" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <div>
                                        
                                            <div id="myCarousel" class="carousel slide">

                                                <!-- Carousel items -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <!--/row-->
                                                    </div>
                                                    <!--/item-->
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <a href="#x" ><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <a href="#x" ><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <!--/row-->
                                                    </div>
                                                    <!--/item-->
                                                    <div class="item">
                                                        <div class="row">
                                                            <div>
                                                                <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div >
                                                                <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div >
                                                                <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                            <div >
                                                                <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <!--/row-->
                                                    </div>
                                                    <!--/item-->
                                                </div>
                                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                                                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                                            </div>
                                            <!--/myCarousel-->
                                        
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        xxx

                                        <div class="container">
                                            <div class="col-md-12">
                                                <h1>Bootstrap 3 Thumbnail Slider</h1>

                                                <div class="well">
                                                    <div id="myCarousel" class="carousel slide">

                                                        <!-- Carousel items -->
                                                        <div class="carousel-inner">
                                                            <div class="item active">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                </div>
                                                                <!--/row-->
                                                            </div>
                                                            <!--/item-->
                                                            <div class="item">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                </div>
                                                                <!--/row-->
                                                            </div>
                                                            <!--/item-->
                                                            <div class="item">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                                    </div>
                                                                </div>
                                                                <!--/row-->
                                                            </div>
                                                            <!--/item-->
                                                        </div>
                                                        <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                                                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                                                    </div>
                                                    <!--/myCarousel-->
                                                </div>
                                                <!--/well-->
                                            </div>
                                        </div>


                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>


                            



                        </div>
                    </div>





        </div>






        <div>




        </div>
    </div>



</div>


@section Scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
@*<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.js"></script>*@

@*<link href="~/css/flexslider.css" rel="stylesheet">
<script src="~/js/jquery.flexslider-min.js"></script>*@

    <script src="~/lib/bootstrap/js/carousel.js"></script>

    <style>
.carousel-control.left, .carousel-control.right{ background: none !important; filter: none !important; progid:none !important; }
    </style>


    <script>

        $(document).ready(function () {

            $('#saleproduct_group_code').off('change').on('change', function () {
                $.ajax({
                    type: 'get', url: '@Url.Action("GetProductTypeAsSelect", "saleproducts")' + '?product_group_code=' + $('#saleproduct_group_code').val(),
                }).done(function (resp) {
                    if (resp != "") {
                        $('#saleproduct_type_code').empty();
                        $('#saleproduct_type_code').append(resp);
                        $('#saleproduct_type_code').trigger("change");
                    } else {
                        $('#saleproduct_type_code').empty();
                    }
                });
            });
            $('#saleproduct_group_code').trigger("change");

            $("#stdAll").prop('checked', true); stdAllClick();
            $("#deliverAll").prop('checked', true); deliverAllClick();

            //$('#carousel').flexslider({
            //    animation: "slide",
            //    controlNav: false,
            //    animationLoop: false,
            //    slideshow: false,
            //    itemWidth: 210,
            //    itemMargin: 5,
            //    asNavFor: '#slider'
            //});

            //$('#slider').flexslider({
            //    animation: "slide",
            //    controlNav: false,
            //    animationLoop: false,
            //    slideshow: false,
            //    sync: "#carousel",
            //    start: function (slider) {
            //        $('body').removeClass('loading');
            //    }
            //});


        });

        function stdAllClick() {
            if ($("#stdAll").prop('checked')) {
                $("input[id*='std_']").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input[id*='std_']").each(function () {
                    $(this).prop('checked', false);
                });
            }
        }
        function stdClick() {
            var countAll = 0; var countCheck = 0;
            $("input[id*='std_']").each(function () {
                countAll++;
                if ($(this).prop('checked')) { countCheck++; }
            });
            if (countAll == countCheck) { $("#stdAll").prop('checked', true); } else { $("#stdAll").prop('checked', false); }
        }
        function deliverAllClick() {
            if ($("#deliverAll").prop('checked')) {
                $("input[id*='delivery']").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input[id*='delivery']").each(function () {
                    $(this).prop('checked', false);
                });
            }
        }
        function deliverClick() {
            var countAll = 0; var countCheck = 0;
            $("input[id*='delivery']").each(function () {
                countAll++;
                if ($(this).prop('checked')) { countCheck++; }
            });
            if (countAll == countCheck) { $("#deliverAll").prop('checked', true); } else { $("#deliverAll").prop('checked', false); }
        }
        function SearchProduct() {
            var searchword = $("#searchword").val().trim();
            $('#searchResult').empty();
            var std = "";
            $("input[id*='std_']").each(function () {
                if ($(this).prop('checked')) { std += $(this).attr('id').substring(4) + "|"; }
            });
            $.ajax({
                type: 'post', url: '@Url.Action("Search", "saleproducts")' + '?searchword=' + searchword +
                    "&saleproduct_group_code=" + $('#saleproduct_group_code').val() + "&saleproduct_type_code=" + $('#saleproduct_type_code').val() +
                    "&minPrice=" + $('#minPrice').val() + "&maxPrice=" + $('#maxPrice').val() +
                    "&delivery_post=" + $('#delivery_post').prop('checked') + "&delivery_bus=" + $('#delivery_bus').prop('checked') + "&delivery_train=" + $('#delivery_train').prop('checked') + "&delivery_other=" + $('#delivery_other').prop('checked') +
                    "&std=" + std,
            }).done(function (resp) {
                if (resp != "") {
                    resp = JSON.parse(resp);
                    for (var i = 0; i < resp.length; i++) {
                        var imgblock = '<div id="' + resp[i].saleproduct_code + '" class="img-thumbnail" style="height:265px;width:250px;margin-bottom:15px;margin-right:15px;" onclick="showDetails(\'' + resp[i].saleproduct_code + '\');">';
                        var idIsMark = "ismark" + resp[i].saleproduct_code;
                        imgblock += '<img id="imgPd' + resp[i].saleproduct_code + '" class="img-responsive center-block" style="margin-top:0px;height:200px;cursor:pointer;cursor:hand;" src="' + '@Url.Action("image", "pic_image")' + '?id=' + resp[i].image_code + '" />';

                        var desc = "";
                        if (resp[i].saleproduct_desc != "") {
                            //if (resp[i].saleproduct_desc.length > 25) {
                            //    desc = resp[i].saleproduct_desc.substring(0, 25) + '...';
                            //} else { desc = resp[i].saleproduct_desc; }
                            desc = resp[i].saleproduct_desc;
                        } else { desc = "&nbsp;"; }
                        var idDesc = "desc" + resp[i].saleproduct_code;
                        imgblock += '<div id="' + idDesc + '" style="margin-top:5px;width:100%;text-align:center;font-weight:bold;" >' + desc + '</div>';

                        var desc2 = "";
                        if (resp[i].retail_price != "") {
                            desc2 = resp[i].retail_price;
                        } else { desc2 = "&nbsp;"; }
                        var idDesc2 = "desc2" + resp[i].retail_price;
                        imgblock += '<div id="' + idDesc2 + '" style="margin-top:5px;width:100%;text-align:center;font-weight:bold;" >ราคา ' + desc2 + ' บาท</div>';


                        imgblock += '</div>';
                        $('#searchResult').append(imgblock);
                    }
                }
            });
        }

        function showDetails(saleproduct_code) {
            //$('#detailsSaleProduct').empty();
            //$('#detailsSaleProduct').html(saleproduct_code);
            //$('#detailsSaleProduct').animate({ width: 'toggle' });



            //$("#detailsSaleProduct").toggle("slide");
            //$('#detailsSaleProduct').show();


            $.ajax({
                type: 'post', url: '@Url.Action("Details", "saleproducts")' + '?saleproduct_code=' + saleproduct_code,
            }).done(function (resp) {
                if (resp != "") {
                    resp = JSON.parse(resp);
                    $('#breadcrumbGroup').html(resp.breadcrumb);
                    //$('#saleproductImage').html(resp.images);
                    //$('.fotorama').fotorama();
                    //$('.fotorama').fotorama({
                    //    data: [
                    //      { img: '1.jpg', thumb: '1-thumb.jpg' },
                    //      { img: '2.jpg', thumb: '2-thumb.jpg' }
                    //    ]
                    //});

                    //setTimeout(function () {
                    //    $('.fotorama').fotorama({
                    //        width: '70%',
                    //        maxwidth: '100%',
                    //        ratio: 3 / 2,
                    //        nav: 'thumbs',
                    //        auto: false
                    //    });
                    //}, 500);


                    var is = resp.images.substring(0, resp.images.length - 1); //console.log(is);
                    var iss = is.split('|');
                    var dList = []; var urlPath = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
                    $('#saleproductImageIndicators').empty();
                    $('#saleproductImageInner').empty();
                    for (var i = 0; i < iss.length; i++) {
                        //console.log(iss[i]);Url.Action("Action", "Controller", null, Request.Url.Scheme);

                        //$('#sliderItems') $('#carouselItems')
                        var cActive = ""; var cActive2 = "";
                        if (i == 0) { cActive = 'class="active"'; cActive2 = "active" }
                        $('#saleproductImageIndicators').append('<li data-target="#saleproductImage" data-slide-to="' + i + '" ' + cActive + '></li>');
                        @*$('#saleproductImageInner').append('<div class="item ' + cActive2 + '" style="height:100vh;"><img style="position:absolute;top:5%;left:5%;-webkit-transform:translate(-5%,-5%);-ms-transform:translate(-5%,-5%);transform:translate(-5%,-5%);height:500px;width:auto;" class="img-responsive center-block" src="' + urlPath + '@Url.Action("image", "pic_image")' + "?id=" + iss[i] + '"></div>');*@

                        $('#saleproductImageInner').append('<div class="item ' + cActive2 + '"><img style="height:400px;width:auto;" class="img-responsive center-block" src="' + urlPath + '@Url.Action("image", "pic_image")' + "?id=" + iss[i] + '"></div>');



                        @*$('#slider ul').add("<li><img src='" + urlPath + '@Url.Action("image", "pic_image")' + "?id=" + iss[i] + "' /></li>");
                        $('#carousel ul').add("<li><img src='" + urlPath + '@Url.Action("image", "pic_image")' + "?id=" + iss[i] + "' /></li>");
                        dList.push({ img: urlPath + '@Url.Action("image", "pic_image")' + '?id=' + iss[i], thumb: urlPath + '@Url.Action("image", "pic_image")' + '?id=' + iss[i] });*@
                    }
                    
                    console.log($('#saleproductImageIndicators').html());
                    console.log($('#saleproductImageInner').html());

                    //$("#saleproductImage").carousel();
                    

                    //var foto;
                    //var $fDiv = $('#saleproductImage').fotorama();
                    //foto = $fDiv.data('fotorama');

                    //console.log(fotorama);
                    //$('.fotorama').fotorama({
                    //    width: '200',
                    //    maxwidth: '300',
                    //    ratio: 3 / 2,
                    //    nav: 'thumbs'
                    //});
                    //$('.fotorama').load(dList);




                    $("#searchResult").toggle("slide", { direction: "left" }, 500);
                    $("#detailsSaleProduct").toggle("slide", { direction: "right" }, 500);
                }
            });

        }

        function hideDetails() {
            //$("#detailsSaleProduct").toggle("slide");
            //$('#detailsSaleProduct').animate({ width: 'toggle' });

            $("#searchResult").toggle("slide", { direction: "left" },500);
            $("#detailsSaleProduct").toggle("slide", { direction: "right" },500);
        }


    </script>
}
