<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-heading">
            <div class="pull-left" style="margin-top:3px;"><span>ข้อมูลผลิตภัณฑ์</span></div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-5">
                    <div class="panel panel-blue-search">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col-md-6 text-left">
                                    <div style="font-size:16px;margin-top:6px;">เงื่อนไขในการค้นหา</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right" >
                                        <div id="btnSaleProductStdDetailsAsTableList" class="btn btn-default btn-panel-yellow " onclick="saleproduct_standardDetailsAsTableList();">&nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;ค้นหา&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <form >
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input id="searchword" class="form-control" placeholder="ชื่อผลิตภัณฑ์" autocomplete="off" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">กลุ่มผลิตภัณฑ์</label></div>
                                        <div class="col-md-7">
                                            <select id="mem_saleproduct_group_code" class="form-control" asp-items="@ViewBag.product_group" ></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">ประเภทผลิตภัณฑ์</label></div>
                                        <div class="col-md-7">
                                            <select id="mem_saleproduct_type_code" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">การรับรองมาตรฐาน</label></div>
                                        <div class="col-md-7">
                                            <select id="mem_saleproduct_group_code" class="form-control" asp-items="@ViewBag.product_group"></select>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;margin-right:-10px">ราคา</label></div>
                                        <div class="col-md-4">
                                            <input id="searchword" class="form-control" placeholder="จาก" autocomplete="off" />
                                        </div>
                                        <div class="col-md-1 text-center"><label class="control-label" style="font-size:16px;margin-top:6px;">-</label></div>
                                        <div class="col-md-4">
                                            <input id="searchword" class="form-control" placeholder="ถึง" autocomplete="off" />
                                        </div>
                                    </div>

                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-5 text-right"><label class="control-label" style="font-size:13px;margin-top:8px;">การขนส่ง</label></div>
                                        <div class="col-md-7">
                                            <input id="searchword" class="form-control" placeholder="ชื่อผลิตภัณฑ์" autocomplete="off" />
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <label class="checkbox-inline">
                                                <input id="delivery_post" type="checkbox"><label>mem_saleproduct.delivery_post</label>
                                            </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <label class="checkbox-inline">
                                                <input id="delivery_bus" type="checkbox"><label>mem_saleproduct.delivery_bus</label>
                                            </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <label class="checkbox-inline">
                                                <input id="delivery_train" type="checkbox"><label>mem_saleproduct.delivery_train</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <label class="checkbox-inline">
                                                <input id="delivery_other" type="checkbox" onclick="delivery_otherTick();"><label>mem_saleproduct.delivery_other</label>
                                            </label>
                                            <input id="mem_saleproduct_delivery_other" class="form-control" readonly />
                                        </div>


                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="pull-right">
                                        <div id="btnSaleProductStdDetailsAsTableList" class="btn btn-default btn-panel-yellow " onclick="saleproduct_standardDetailsAsTableList();">&nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;ค้นหา&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-9 col-sm-7">
                    <div id="" class="well col-md-12">
                        <br/><br/><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>





        </div>






        <div>




        </div>
    </div>



</div>

<!-- Modal -->
<div class="modal fade modalForm1" id="a_modal" tabindex="-1" role="dialog" aria-labelledby="a_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="a_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="a_label" style="vertical-align:middle;"></h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="a_body"></div>
                <br /><br />
                <div class="pull-right" style="margin-top:-2px;">
                    <div class="btn btn-default btn-panel-yellow" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>

        </div>

    </div>


</div>
<!-- /Modal -->
<!-- Modal confirm -->
<div id="c_modal" class="modal fade modalForm1" tabindex="-1" role="dialog" aria-labelledby="confirm_Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="c_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="c_Label" style="vertical-align:middle;">ยืนยันการลบกลุ่มผู้ใช้</h4>
            </div>
            <div class="modal-body container-fluid">
                <div>ยืนยันการลบกลุ่มผู้ใช้?</div>
                <br />
                <div>กลุ่มผู้ใช้: <span id="c_rolename" style="color:red"></span></div><br />
                <hr />
                <div class="row">
                    <div class="col-md-4"><button id="btnConfirm" class="btn btn-panel-yellow pull-right" onclick="roleDelete();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยืนยัน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
                    <div class="col-md-4 col-md-offset-4">
                        <button id="btnCancel" class="btn btn-default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal confirm -->

@section Scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {


        });
        function changeUName() {
            $('#btnChangeUName').html('&nbsp;<i class="fa fa-refresh fa-spin" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
            if ($('#uname').val().trim()) {
                $.ajax({
                    async: true,
                    type: "POST",
                    url: "@Url.Action("SettingsDisplayName", "Security")",
                    data: {
                        uname: $('#uname').val().trim(),
                    },
                success: function (data) {
                    if (data.result != "success") {
                        $('#a_label').text('ตรวจพบความผิดพลาด');
                        $('#a_body').text('ตรวจพบความผิดพลาด กรุณาติดต่อผู้ดูแลระบบ');
                        $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                    }
                    else
                    {
                        $('#unameBox').text(data.uname);
                        $('#_displayname_').text(data.uname);
                    }
                    $('#uname').val('');
                    $('#btnChangeUName').html('&nbsp;<i class="fa fa-save" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
                }
            });
            } else {
                $('#unameMsg').text('กรุณากรอกข้อมูล'); $('#unameMsg').show();
            }
        }
        function changePwd() {
            $('#btnChangePwd').html('&nbsp;<i class="fa fa-refresh fa-spin" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
            var upwdold = $('#upwdold').val().trim(); var upwd = $('#upwd').val().trim(); var upwdrepeat = $('#upwdrepeat').val().trim();
            if (!upwdold) { $('#upwdoldMsg').text('กรุณากรอกข้อมูล'); $('#upwdoldMsg').show(); }
            if (!upwd) { $('#upwdMsg').text('กรุณากรอกข้อมูล'); $('#upwdMsg').show(); }
            if (!upwdrepeat) { $('#upwdrepeatMsg').text('กรุณากรอกข้อมูล'); $('#upwdrepeatMsg').show(); }
            if (upwdold && upwd && upwdrepeat) {
                if (upwd != upwdrepeat) {
                    $('#upwdMsg').text('กรุณาตรวจสอบรหัสผ่านอีกครั้ง'); $('#upwdMsg').show();
                    $('#upwdrepeatMsg').text('กรุณาตรวจสอบรหัสผ่านอีกครั้ง'); $('#upwdrepeatMsg').show();
                }
                else
                {
                    $.ajax({
                        async: true,
                        type: "POST",
                        url: "@Url.Action("SettingsChangePassword", "Security")",
                        data: {
                        upwdold: upwdold,
                        upwdnew: upwd,
                        },
                        success: function (data) {
                            if (data.result == "success")
                            {
                                $('#upwdold').val('');$('#upwd').val('');$('#upwdrepeat').val('');
                                $('#a_label').text('ระบบได้ทำการเปลี่ยนรหัสผ่านเรียบร้อย');
                                $('#a_body').html('<span style="color:green">ระบบได้ทำการเปลี่ยนรหัสผ่านเรียบร้อย</span>');
                                $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                            }
                            else if (data.result == "wrong")
                            {
                                $('#a_label').text('รหัสผ่านของท่านไม่ถูกต้อง');
                                $('#a_body').html('<span style="color:red">รหัสผ่านของท่านไม่ถูกต้อง</span>');
                                $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                            }
                            else
                            {
                                $('#a_label').text('ตรวจพบความผิดพลาด');
                                $('#a_body').html('<span style="color:red">ตรวจพบความผิดพลาด กรุณาติดต่อผู้ดูแลระบบ</span>');
                                $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                            }
                        }
                    });
                }
            }
            $('#btnChangePwd').html('&nbsp;<i class="fa fa-save" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
        }
        function changeContact() {
            $('#btnChangeContact').html('&nbsp;<i class="fa fa-refresh fa-spin" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
            var email = $('#email').val().trim();
            if (!email) { $('#emailMsg').text('กรุณากรอกข้อมูล'); $('#emailMsg').show(); }
            if (email) {
                $.ajax({
                    async: true,
                    type: "POST",
                    url: "@Url.Action("SettingsChangeContact", "Security")",
                    data: {
                        email: email,
                    },
                    success: function (data) {
                        if (data.result == "success")
                        {
                            $('#email').val(''); $('#emailBox').text('อีเมล: '+data.email);
                            $('#a_label').text('ระบบได้ทำการเปลี่ยนข้อมูลการติดต่อเรียบร้อย');
                            $('#a_body').html('<span style="color:green">ระบบได้ทำการเปลี่ยนข้อมูลการติดต่อเรียบร้อย</span>');
                            $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                        }
                        else
                        {
                            $('#a_label').text('ตรวจพบความผิดพลาด');
                            $('#a_body').html('<span style="color:red">ตรวจพบความผิดพลาด กรุณาติดต่อผู้ดูแลระบบ</span>');
                            $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                        }
                    }
                });
            }
            $('#btnChangeContact').html('&nbsp;<i class="fa fa-save" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
        }
    </script>
}
