@model IEnumerable<PPcore.Models.member>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
            <table><tr><td><h4 class="txt-color-blue">รายงานข้อมูลสมาชิก</h4></td></tr></table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="pull-left" style="padding-top:5px;">รายงานข้อมูลสมาชิก&nbsp;&nbsp;</div>
                    <div class="pull-right" style="margin-top:-2px;">
                        <div id="btnPrintExcel" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-print" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;Excel&nbsp;&nbsp;</div>
                    </div>
                </div>

                <div class="pull-left" style="margin-top:12px;">
                    <form class="form-inline" role="form">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สนามสอบ <select id="mem_testcenter_code" class="form-control" asp-items="@ViewBag.mem_testcenter_code" style="width:150px;"></select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ระดับสมาชิก <select id="mem_level_code" class="form-control" asp-items="@ViewBag.mem_level" style="width:150px;"></select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;จังหวัด <select id="ini_province_code" class="form-control" asp-items="@ViewBag.ini_province" style="width:150px;"></select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันที่เริ่ม 

                            <div class="input-group">
                                <input id="startdate" class="form-control" readonly style="background-color:white;width:100px">
                                <span class="input-group-btn">
                                    <button id="startdateButton" class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>


                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันที่สิ้นสุด 
                        <div class="input-group">
                            <input id="enddate" class="form-control" readonly style="background-color:white;width:100px">
                            <span class="input-group-btn">
                                <button id="enddateButton" class="btn btn-default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;<div id="btnCriteriaSearch" class="btn btn-default btn-panel-yellow" onclick="a_details_as_table()"><i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;ค้นหา</div>
                    </form>
                </div>
                <br/><br/><br/>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper" style="padding-right:10px;" id="a_details_as_table">



                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade modalForm1" id="a_modal" tabindex="-1" role="dialog" aria-labelledby="a_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="a_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="a_label" style="vertical-align:middle;"></h4>
            </div>
            <div class="modal-body container-fluid" id="a_body">
                @*@{ await Html.RenderPartialAsync("DetailsCourse", new course()); }*@
            </div>

        </div>

    </div>


</div>
<!-- /Modal -->
<!-- Modal register -->
<div id="confirm_modal" class="modal fade modalForm1" tabindex="-1" role="dialog" aria-labelledby="confirm_Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="confirm_model_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="confirm_Label" style="vertical-align:middle;">ยืนยันการลงทะเบียนเข้าอบรม</h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="confirm_modal_body" class="col-md-12">
                    <form id="a_form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">เลขบัตรประชาชน</label>
                            <div class="col-md-9">
                                <input id="cid" class="form-control" data-val-required="" onkeyup="$('#cidmsg').text('');" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="13" />
                                <span id="cidmsg" class="text-danger" />
                            </div>
                        </div>
                    </form>
                    <input id="courseId" style="display:none" />
                </div>
                <br />
                <br /><br /><br />
                <div class="row">
                    <div class="col-md-4"><button id="btnDeleteConfirm" class="btn btn-panel-yellow pull-right" onclick="registerConfirm($('#cid').val(),$('#courseId').val());">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยืนยัน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
                    <div class="col-md-4 col-md-offset-4">
                        <button id="btnDeleteCancel" class="btn btn-default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal register -->
<!-- Modal alert -->
<div class="modal fade modalForm1" id="alert_modal" tabindex="-1" role="dialog" aria-labelledby="alert_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="alert_modal_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="alert_label" style="vertical-align:middle;"></h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="alert_modal_body"></div>
                <br /><br />
                <div class="pull-right" style="margin-top:-2px;">
                    <div class="btn btn-default btn-panel-yellow" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Modal alert -->

@section scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {
            $.datepicker.regional['th'] = {
                dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
                yearRange: "-100:+0", yearOffSet: 543, beforeShow: dateDefault
            };
            $.datepicker.setDefaults($.datepicker.regional['th']);
            $("#startdate").datepicker($.datepicker.regional["th"]);
            $("#enddate").datepicker($.datepicker.regional["th"]);

            $('#startdateButton').click(function () {
                $('#startdate').datepicker("show");
            });
            $('#enddateButton').click(function () {
                $('#enddate').datepicker("show");
            });
            a_details_as_table();
        });

        function dateDefault() {
            if ($("#startdate").val() == "") { $("#startdate").datepicker("setDate", new Date()); }
            if ($("#enddate").val() == "") { $("#enddate").datepicker("setDate", new Date()); }
        }

        function a_details_as_table() {
            $.ajax({
                type: 'get', url: '@Url.Action("DetailsAsTable", "ReportMembers")?mem_testcenter_code=' + $('#mem_testcenter_code').val() + '&mem_level_code=' + $('#mem_level_code').val() + '&ini_province_code=' + $('#ini_province_code').val() + '&startdate=' + $('#startdate').val() + '&enddate=' + $('#enddate').val(),
            }).done(function (resp) {
                $('#a_details_as_table').html(resp);
                var w = [
                    { "targets": [0], "width": "15", "className": "dt-center" },
                    { "targets": [1], "visible": false, "searchable": false },
                    { "targets": [2], "width": "70", "className": "dt-center" },
                    { "targets": [3], "width": "20", "className": "dt-center" },
                    { "targets": [4] },
                    { "targets": [5], "width": "15", "className": "dt-center" },
                    { "targets": [6], "className": "dt-center" },
                    { "targets": [7] },
                    { "targets": [8], "width": "70", "className": "dt-center" },
                    { "targets": [9], "width": "70", "className": "dt-center" },
                    { "targets": [10], "width": "70", "className": "dt-center" },
                ];
                var table = setTable_default($('#a_table'), w);
                //table.$('tr:first').click();
            });
        }
        $('#btnPrintExcel').off('click').on('click', function () {
            var url = '@Url.Action("DetailsAsExcel", "ReportMembers")?mem_testcenter_code=' + $('#mem_testcenter_code').val() + '&mem_level_code=' + $('#mem_level_code').val() + '&ini_province_code=' + $('#ini_province_code').val() + '&startdate=' + $('#startdate').val() + '&enddate=' + $('#enddate').val();

            //var data = tableMember.row('.selected').data();
            @*var url = '@Url.Action("DetailsPdf", "members", new { id = "__id__" })';*@
            //window.location.href = url.replace('__id__', data[1]);
            var win = window.open(url, '_blank');
            //var win = window.open(url.replace('__id__', data[1]));
            win.focus();
        });
    </script>
}


