@model PPcore.Models.mem_saleproduct

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>mem_saleproduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.advance_order_condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.advance_order_condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.capacity_per_day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.capacity_per_day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.capacity_per_month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.capacity_per_month)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact_email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contact_email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact_other)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contact_other)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact_telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contact_telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.delivery_bus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.delivery_bus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.delivery_other)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.delivery_other)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.delivery_post)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.delivery_post)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.delivery_train)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.delivery_train)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.distribution_channels)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.distribution_channels)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_life)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_life)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rec_no)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rec_no)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.retail_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.retail_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rowversion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rowversion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.saleproduct_unit_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.saleproduct_unit_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.store_quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.store_quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.wholesale_condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.wholesale_condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.wholesale_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.wholesale_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_log)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_log)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
