@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
@model IEnumerable<PPcore.ViewModels.mem_saleproduct.mem_saleproductViewModel>

@{
    ViewBag.ButtonUpperRightType = "hidden";
    if (ViewBag.isViewOnly == 1)
    {
        ViewBag.panelBarMenu = "Details"; ViewBag.Title = "ดูรายละเอียดข้อมูลสมาชิก";
    }
    else
    {
        ViewBag.Title = "แก้ไข รายละเอียดข้อมูลสมาชิก";
    }
}

<div class="panel panel-blue">
    <div class="panel-heading">
        <div class="pull-left" style="padding-top:5px;">แสดงข้อมูลทั้งหมด</div>
        <div id="btnBar" class="pull-right" style="margin-top:-2px;">
            กดปุ่มเพิ่ม ถ้าต้องการใส่มากกว่า 1 รายการ&nbsp;&nbsp;&nbsp;
            <div id="btnCreate" class="btn btn-default btn-panel-yellow" onclick="mem_saleproductCreate('@ViewBag.memberId');">&nbsp;<i class="fa fa-file" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;&nbsp;เพิ่ม&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div id="btnEdit" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true" style="color:white;"></i>&nbsp;แก้ไข&nbsp;&nbsp;</div>
            @*<div id="btnDetails" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-file-text" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;ดูข้อมูล</div>*@
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="dataTable_wrapper" style="padding-right:10px;">
            <table class="table table-striped table-bordered table-hover dataTablesMod" id="dataTablesSimple">
                <thead>
                    <tr>
                        <th class="text-center" style="width:50px;">ลำดับ</th>
                        <th style="display:none">@Html.DisplayNameFor(model => model.mem_saleproduct.id)</th>
                        <th>@Html.DisplayNameFor(model => model.saleproduct.saleproduct_desc)</th>
                        <th style="width:200px;">@Html.DisplayNameFor(model => model.saleproduct_group_desc)</th>
                        <th style="width:200px;">@Html.DisplayNameFor(model => model.saleproduct_type_desc)</th>
                        <th style="width:50px;" class="text-center">@Html.DisplayNameFor(model => model.amount)</th>
                        <th style="width:50px;" class="text-center">@Html.DisplayNameFor(model => model.unit)</th>
                        <th style="width:70px;" class="text-center">@Html.DisplayNameFor(model => model.amountOfPeriod)</th>
                        <th style="width:20px;" class="text-center">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var countOrder = 0;}
                    @foreach (var item in Model)
                    {
                        countOrder++;
                        <tr>
                            <td class="text-center">@countOrder</td>
                            <td style="display:none">@Html.DisplayFor(modelItem => item.mem_saleproduct.id)</td>
                            <td>@Html.DisplayFor(modelItem => item.saleproduct.saleproduct_desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.saleproduct_group_desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.saleproduct_type_desc)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.amount)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.unit)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.amountOfPeriod)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.mem_saleproduct.x_status)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>




    </div>
</div>

<!-- Modal -->
<div id="mem_saleproductCreateModal" class="modal fade modalForm3" tabindex="-1" role="dialog" aria-labelledby="mem_saleproductCreateModalLabel" aria-hidden="true">
    <div class="modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<div class="pull-left" style="margin-top:0px;">
                <i class="fa fa-list" style="color:sandybrown"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>*@
                <div class="pull-right" style="margin-top:0px;">
                    <div class="btn btn-default btn-panel-yellow" aria-hidden="true" onclick="mem_saleproductPost();">&nbsp;<i class="fa fa-floppy-o" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;จัดเก็บ&nbsp;&nbsp;</div>
                </div>
            </div>
            <div class="modal-body container-fluid modalForm3Body">
                

                <div id="mem_saleproductCreateModalRenderBody"></div>

                <div id="mem_saleproduct_planDetailsAsTableListModalRenderBody"></div>


            </div>
            <div class="modal-footer">
                <div class="pull-right" style="margin-top:-2px;">
                    <div class="btn btn-default btn-danger" data-dismiss="modal" aria-hidden="true" onclick="mem_saleproductClose();">&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->

<!-- Modal -->
<div id="mem_saleproduct_planCreateModal" class="modal fade modalForm1" tabindex="-3" role="dialog" aria-labelledby="mem_saleproduct_planCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="mem_saleproduct_planCreateModalHeader" class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px" onclick="closeMemSaleProductPlanCreateModal();">&times;</button>*@

                <button type="button" class="close" aria-hidden="true" style="vertical-align:middle;top:15px" onclick="$('#mem_saleproduct_planCreateModal').modal('hide');" >&times;</button>
                <h4 id="mem_saleproduct_planCreateModalLabel" class="modal-title" style="vertical-align:middle;">วันที่ประมาณการออกสู่ตลาด</h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="mem_saleproduct_planCreateModalRenderBody">
                    @*@{ await Html.RenderPartialAsync("ViewInput", new product()); }*@
                </div>
            </div>





        </div>
    </div>
</div>
<!-- /Modal -->

<!-- Modal -->
<div id="saleproduct_standardDetailsAsTableListModal" class="modal fade modalForm2" tabindex="-1" role="dialog" aria-labelledby="saleproduct_standardDetailsAsTableListModalLabel" aria-hidden="true">
    <div class="modal-lg" style="width:650px;margin-left:10%;">
        <div class="modal-content">
            <div class="modal-body container-fluid">
                <div id="saleproduct_standardDetailsAsTableListModalRenderBody"></div>
                <div class="pull-right" style="margin-top:-2px;">
                    <div class="btn btn-default btn-danger" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Modal -->

<!-- Modal -->
<div id="saleproduct_standardCreateModal" class="modal fade modalForm1" tabindex="-1" role="dialog" aria-labelledby="saleproduct_standardCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="saleproduct_standardCreateModalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 id="saleproduct_standardCreateModalLabel" class="modal-title" style="vertical-align:middle;">ข้อมูลมาตรฐาน</h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="saleproduct_standardCreateModalRenderBody">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->



















<!-- Modal -->
<div id="mem_productProductCreateModal" class="modal fade modalForm1" tabindex="-1" role="dialog" aria-labelledby="mem_productProductCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">




            <div id="mem_productProductCreateModalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 id="mem_productProductCreateModalLabel" class="modal-title" style="vertical-align:middle;"></h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="mem_productProductCreateModalRenderBody">
                    @*@{ await Html.RenderPartialAsync("ViewInput", new product()); }*@
                </div>
            </div>





        </div>
    </div>
</div>
<!-- /Modal -->


@section Scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {
            var tableMemSaleProduct = setDataTablesSimple();
            tableMemSaleProduct.$('tr:first').click();





            if ("@ViewBag.isViewOnly" == "1") {
                $('#btnBar').hide();
            }






            $('#btnEdit').off('click').on('click', function () {
                var data = tableMemSaleProduct.row('.selected').data();
                if (data) {
                    $.ajax({
                        type: 'get', url: '@Url.Action("Edit", "mem_saleproduct")' + '?memberId=' + '@ViewBag.memberId' + '&mem_saleproduct_id=' + data[1],
                    }).done(function (resp) {
                        $('#mem_saleproductCreateModalRenderBody').html(resp);
                        $('#saleproduct_group_code').off('change').on('change', function () {
                            $.ajax({
                                type: 'get', url: '@Url.Action("SelectBy", "product_type")' + '?product_group_code=' + $('#saleproduct_group_code').val(),
                            }).done(function (resp) {
                                if (resp != "") {
                                    $('#saleproduct_type_code').empty();
                                    $('#saleproduct_type_code').append(resp);
                                    $('#saleproduct_type_code').trigger("change");
                                } else {
                                    $('#saleproduct_type_code').empty();
                                }
                            });
                        });
                        $('#saleproduct_group_code').trigger("change");
                        setTimeout(function () {
                            $("#saleproduct_type_code").val($("#saleproduct_type_code_hidden").val());
                        }, 300);

                        $('#saleproduct_unit_code').off('change').on('change', function () {
                            $('#aUnit').val($("#saleproduct_unit_code option:selected").text());
                        });
                        $('#saleproduct_unit_code').trigger("change");

                        if ($("#delivery_post_hidden").val() == "Y") {
                            $('#delivery_post').prop('checked', true);
                        } else {
                            $('#delivery_post').prop('checked', false);
                        }
                        if ($("#delivery_bus_hidden").val() == "Y") {
                            $('#delivery_bus').prop('checked', true);
                        } else {
                            $('#delivery_bus').prop('checked', false);
                        }
                        if ($("#delivery_train_hidden").val() == "Y") {
                            $('#delivery_train').prop('checked', true);
                        } else {
                            $('#delivery_train').prop('checked', false);
                        }
                        if ($("#delivery_other_hidden").val().trim() != "") {
                            $("#mem_saleproduct_delivery_other").val($("#delivery_other_hidden").val().trim());
                            $('#delivery_other').prop('checked', true); delivery_otherTick();
                        } else {
                            $('#delivery_other').prop('checked', false); delivery_otherTick();
                        }
                        $("#mem_saleproduct_product_detail").val($("#product_detail_hidden").val().trim());

                        $('#aYear').off('change').on('change', function () {
                            loadTableMemProductPlan($('#aYear').val());
                        });
                        $('#aYear').trigger('change');

                    });

                    $('#mem_saleproductCreateModal').modal({ backdrop: 'static', keyboard: false });
                }
            });




        });

        function mem_saleproductCreate(memberId) {
            $.ajax({
                type: 'get', url: '@Url.Action("Create", "mem_saleproduct")' + '?memberId=' + memberId,
            }).done(function (resp) {
                $('#mem_saleproductCreateModalRenderBody').html(resp);
                $('#saleproduct_group_code').off('change').on('change', function () {
                    $.ajax({
                        type: 'get', url: '@Url.Action("SelectBy", "product_type")' + '?product_group_code=' + $('#saleproduct_group_code').val(),
                    }).done(function (resp) {
                        if (resp != "") {
                            $('#saleproduct_type_code').empty();
                            $('#saleproduct_type_code').append(resp);
                            $('#saleproduct_type_code').trigger("change");
                        } else {
                            $('#saleproduct_type_code').empty();
                        }
                    });
                });
                $('#saleproduct_group_code').trigger("change");

                $('#saleproduct_unit_code').off('change').on('change', function () {
                    $('#aUnit').val($("#saleproduct_unit_code option:selected").text());
                });
                $('#saleproduct_unit_code').trigger("change");

                loadTableMemProductPlan("-1");

                @*$.ajax({
                    type: 'get', url: '@Url.Action("DetailsAsTableList", "mem_saleproduct_plan")' + '?memberId=' + memberId,
                }).done(function (resp) {
                    $('#mem_saleproduct_planDetailsAsTableListModalRenderBody').html(resp);
                    var tableMemSaleProductPlan = setDataTables($('#dataTablesMemSaleProductPlanDetailsAsTableList'));
                    tableMemSaleProductPlan.$('tr:first').click();

                    $('#btnEditMemSaleProductPlan').off('click').on('click', function () {
                        var saleproduct_code = $('#saleproduct_code').val();
                        var datarow = tableMemSaleProductPlan.row('.selected').data();
                        $.ajax({
                            type: 'get', url: '@Url.Action("Edit", "mem_saleproduct_plan")' + '?planId=' + datarow[1],
                        }).done(function (resp) {
                            $('#mem_saleproduct_planCreateModalRenderBody').html(resp);
                            $('#launch_date').removeAttr("style")
                            $('#launch_date').attr('readonly', 'readonly');

                            $('#pUnit').val($("#saleproduct_unit_code option:selected").text());
                        });

                        $('#mem_saleproduct_planCreateModal').modal({ backdrop: 'static', keyboard: false });

                    });
                });*@



            });

            $('#mem_saleproductCreateModal').modal({ backdrop: 'static', keyboard: false });
        }

        function mem_saleproductPost() {
            var memberId = $('#vbMemberId').val();
            var IsCreate = $('#vbIsCreate').val();
            var saleproduct_code = $('#saleproduct_code').val();
            var saleproduct_desc = $('#saleproduct_saleproduct_desc').val().trim();
            var saleproduct_group_code = $('#saleproduct_group_code').val();
            var saleproduct_type_code = $('#saleproduct_type_code').val();
            var saleproduct_unit_code = $('#saleproduct_unit_code').val();

            var retail_price = $('#mem_saleproduct_retail_price').val().trim();
            var wholesale_price = $('#mem_saleproduct_wholesale_price').val().trim();
            var wholesale_condition = $('#mem_saleproduct_wholesale_condition').val().trim();
            var product_life = $('#mem_saleproduct_product_life').val().trim();
            var capacity_per_day = $('#mem_saleproduct_capacity_per_day').val().trim();
            var capacity_per_month = $('#mem_saleproduct_capacity_per_month').val().trim();
            var advance_order_condition = $('#mem_saleproduct_advance_order_condition').val().trim();
            var store_quantity = $('#aStoreQuantity').val().trim();
            var distribution_channels = $('#mem_saleproduct_distribution_channels').val().trim();
            var contact_email = $('#mem_saleproduct_contact_email').val().trim();
            var contact_telephone = $('#mem_saleproduct_contact_telephone').val().trim();
            var contact_other = $('#mem_saleproduct_contact_other').val().trim();

            var delivery_post; if ($('#delivery_post').prop("checked") == true) { delivery_post = 'Y'; } else { delivery_post = 'N'; }
            var delivery_bus; if ($('#delivery_bus').prop("checked") == true) { delivery_bus = 'Y'; } else { delivery_bus = 'N'; }
            var delivery_train; if ($('#delivery_train').prop("checked") == true) { delivery_train = 'Y'; } else { delivery_train = 'N'; }
            var delivery_other = $('#mem_saleproduct_delivery_other').val().trim();

            var product_detail = $('#mem_saleproduct_product_detail').val().trim();
            var x_note = $('#mem_saleproduct_x_note').val().trim();

            $.ajax({
                type: 'post', url: '@Url.Action("Save", "mem_saleproduct")' + '?memberId=' + memberId + '&IsCreate='+ IsCreate + '&saleproduct_code=' + saleproduct_code + '&saleproduct_desc=' + saleproduct_desc +
                    '&saleproduct_group_code=' + saleproduct_group_code + '&saleproduct_type_code=' + saleproduct_type_code + '&saleproduct_unit_code=' + saleproduct_unit_code +
                    '&retail_price=' + retail_price + '&wholesale_price=' + wholesale_price + '&wholesale_condition=' + wholesale_condition +
                    '&product_life=' + product_life + '&capacity_per_day=' + capacity_per_day + '&capacity_per_month=' + capacity_per_month +
                    '&advance_order_condition=' + advance_order_condition + '&store_quantity=' + store_quantity + '&distribution_channels=' + distribution_channels +
                    '&contact_email=' + contact_email + '&contact_telephone=' + contact_telephone + '&contact_other=' + contact_other +
                    '&delivery_post=' + delivery_post + '&delivery_bus=' + delivery_bus + '&delivery_train=' + delivery_train + '&delivery_other=' + delivery_other +
                    '&product_detail=' + product_detail + '&x_note=' + x_note
                ,
            }).done(function (resp) {
                if (resp != "") {
                    if (resp.result == "success") {
                        $('#mem_saleproductCreateModal').modal('hide');
                        window.location.href = "@Url.Action("Index", "mem_saleproduct", new {memberId = ViewBag.memberId})";
                    }
                }
            });

            @*var productDesc = $('#product_desc').val().trim();
                if (productCode == "") { $('#product_code_msg').text('กรุณากรอกข้อมูล'); }
                if (productDesc == "") { $('#product_desc_msg').text('กรุณากรอกข้อมูล'); }
                if ((productCode != '') && (productDesc != '')) {
                    $.ajax({
                        type: 'post', url: '@Url.Action("Create", "mem_saleproduct")' + '?product_code=' + productCode + '&product_group_code=' + $('#product_group_code').text() + '&product_type_code=' + $('#product_type_code').text() + '&product_desc=' + productDesc,
                    }).done(function (resp) {
                        if (resp != "") {
                            if (resp.result == "success") {
                                var table = $('#dataTablesProductDetailsAsTableList').DataTable();
                                table.row.add([resp.rec_no, resp.product_code, resp.product_desc, '<div id="btnS' + resp.id + '"><div class="btn btn-xs btn-default btn-panel-yellow" onclick="mem_productCreate(' + resp.id + ')">&nbsp;<i class="fa fa-plus-circle" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;เลือก&nbsp;&nbsp;</div></div>']);
                                table.draw();
                                $('#mem_productProductCreateModal').modal('hide');
                            } else if (resp.result == "fail") {
                                $('#product_code_msg').text('รหัสผลิตผลซ้ำ');
                            }

                        }

                    });

                }*@


        }

        function delivery_otherTick() {
            if ($('#delivery_other').prop("checked") == true) {
                $('#mem_saleproduct_delivery_other').prop('readonly', false);
            } else {
                $('#mem_saleproduct_delivery_other').prop('readonly', true);
            }

        }

        function mem_saleproductClose() {
            window.location.href = "@Url.Action("Index", "mem_saleproduct", new {memberId = ViewBag.memberId})";
        }

        function loadTableMemProductPlan(pYear) {
            $.ajax({
                type: 'get', url: '@Url.Action("DetailsAsTableList", "mem_saleproduct_plan")' + '?memberId=' + '@ViewBag.memberId' + '&saleproductCode=' + $('#saleproduct_code').val() + '&unit=' + $("#saleproduct_unit_code option:selected").text() + '&lyear=' + pYear,
            }).done(function (resp) {
                $('#mem_saleproduct_planDetailsAsTableListModalRenderBody').html(resp);
                var tableMemSaleProductPlan = setDataTables($('#dataTablesMemSaleProductPlanDetailsAsTableList'));
                tableMemSaleProductPlan.$('tr:first').click();

                $('#aAmountOfPeriod').val($('#aAmountOfPeriodHidden').val());
                $('#aAmountPerYear').val($('#aAmountPerYearHidden').val());

                $('#btnEditMemSaleProductPlan').off('click').on('click', function () {
                    var saleproduct_code = $('#saleproduct_code').val();
                    var datarow = tableMemSaleProductPlan.row('.selected').data();
                    $.ajax({
                        type: 'get', url: '@Url.Action("Edit", "mem_saleproduct_plan")' + '?planId=' + datarow[1],
                    }).done(function (resp) {
                        $('#mem_saleproduct_planCreateModalRenderBody').html(resp);

                        //$.datepicker.regional['th'] = {
                        //    dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
                        //    yearRange: "-100:+0", yearOffSet: 543, beforeShow: function () { if ($("#launch_date").val() == "") { $("#launch_date").datepicker("setDate", new Date()); } }
                        //};
                        //$.datepicker.setDefaults($.datepicker.regional['th']);
                        //$("#launch_date").datepicker($.datepicker.regional["th"]);
                        //$('#launch_dateButton').off('click').on('click', function () {
                        //    $('#launch_date').datepicker("show");
                        //});

                        $('#launch_date').removeAttr("style")
                        $('#launch_date').attr('readonly', 'readonly');

                        $('#pUnit').val($("#saleproduct_unit_code option:selected").text());
                    });

                    $('#mem_saleproduct_planCreateModal').modal({ backdrop: 'static', keyboard: false });

                });
            });

        }

        function mem_saleproduct_planCreate(memberId) {
            $.ajax({
                type: 'get', url: '@Url.Action("Create", "mem_saleproduct_plan")' + '?memberId=' + memberId,
            }).done(function (resp) {
                $('#mem_saleproduct_planCreateModalRenderBody').html(resp);






                $.datepicker.regional['th'] = {
                    dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
                    yearRange: "-100:+0", yearOffSet: 543, beforeShow: function () { if ($("#launch_date").val() == "") { $("#launch_date").datepicker("setDate", new Date()); } }
                };
                $.datepicker.setDefaults($.datepicker.regional['th']);
                $("#launch_date").datepicker($.datepicker.regional["th"]);
                $('#launch_dateButton').off('click').on('click', function () {
                    $('#launch_date').datepicker("show");
                });

                $('#pUnit').val($("#saleproduct_unit_code option:selected").text());
            });

            $('#mem_saleproduct_planCreateModal').modal({ backdrop: 'static', keyboard: false });
        }



        function mem_saleproduct_planPost() {
            var planId = $('#planId').val();
            var saleproduct_code = $('#saleproduct_code').val();
            var launch_date = $('#launch_date').val().trim();
            var estimate_qty = $('#estimate_qty').val().trim();
            $.ajax({
                type: 'post', url: '@Url.Action("Save", "mem_saleproduct_plan")' + '?id=' + planId + '&memberId=' + '@ViewBag.memberId' + '&saleproduct_code=' + saleproduct_code +
                    '&launch_date=' + launch_date + '&estimate_qty=' + estimate_qty
                    ,
            }).done(function (resp) {
                if (resp != "") {
                    if (resp.result == "success") {

                        $.ajax({
                            type: 'get', url: '@Url.Action("DetailsAsTableList", "mem_saleproduct_plan")' + '?memberId=' + '@ViewBag.memberId' + '&saleproductCode=' + $('#saleproduct_code').val() + '&unit=' + $("#saleproduct_unit_code option:selected").text(),
                        }).done(function (resp) {
                            $('#mem_saleproduct_planDetailsAsTableListModalRenderBody').html(resp);
                            var tableMemSaleProductPlan = setDataTables($('#dataTablesMemSaleProductPlanDetailsAsTableList'));
                            tableMemSaleProductPlan.$('tr:first').click();

                            $('#btnEditMemSaleProductPlan').off('click').on('click', function () {
                                var saleproduct_code = $('#saleproduct_code').val();
                                var datarow = tableMemSaleProductPlan.row('.selected').data();
                                $.ajax({
                                    type: 'get', url: '@Url.Action("Edit", "mem_saleproduct_plan")' + '?planId=' + datarow[1],
                                }).done(function (resp) {
                                    $('#mem_saleproduct_planCreateModalRenderBody').html(resp);

                                    //$.datepicker.regional['th'] = {
                                    //    dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
                                    //    yearRange: "-100:+0", yearOffSet: 543, beforeShow: function () { if ($("#launch_date").val() == "") { $("#launch_date").datepicker("setDate", new Date()); } }
                                    //};
                                    //$.datepicker.setDefaults($.datepicker.regional['th']);
                                    //$("#launch_date").datepicker($.datepicker.regional["th"]);
                                    //$('#launch_dateButton').off('click').on('click', function () {
                                    //    $('#launch_date').datepicker("show");
                                    //});

                                    $('#launch_date').removeAttr("style")
                                    $('#launch_date').attr('readonly', 'readonly');

                                    $('#pUnit').val($("#saleproduct_unit_code option:selected").text());
                                });
                            });
                        });

                        $('#mem_saleproduct_planCreateModal').modal('hide');

                        @*window.location.href = "@Url.Action("Index", "mem_saleproduct", new {memberId = ViewBag.memberId})";*@
                    }
                }
            });
        }


        function saleproduct_standardDetailsAsTableList() {
            $.ajax({
                type: 'get', url: '@Url.Action("DetailsAsTableList", "saleproduct_standard")',
            }).done(function (resp) {
                $('#saleproduct_standardDetailsAsTableListModalRenderBody').html(resp);
                var tableSaleProductStd = setDataTables($('#dataTablesSaleProductStdDetailsAsTableList'));
                tableSaleProductStd.$('tr:first').click();

                $('#btnEditSaleProductStd').off('click').on('click', function () {
                    var datarow = tableSaleProductStd.row('.selected').data();
                    $.ajax({
                        type: 'get', url: '@Url.Action("Edit", "saleproduct_standard")' + '?saleproduct_standard_code=' + datarow[1],
                    }).done(function (resp) {
                        $('#saleproduct_standardCreateModalRenderBody').html(resp);
                    });

                    $('#saleproduct_standardCreateModal').modal({ backdrop: 'static', keyboard: false });
                });

            });

            $('#saleproduct_standardDetailsAsTableListModal').modal({ backdrop: 'static', keyboard: false });






                //var tableProduct = setTableProductDetailsAsTableList($('#dataTablesProductDetailsAsTableList'));
                //tableProduct.$('tr:first').click();
                @*$('#btnEditProduct').off('click').on('click', function () {
                    var data = tableProduct.row('.selected').data();
                    $.ajax({
                        type: 'get', url: '@Url.Action("Edit", "products")' + '?product_code=' + data[1],
                    }).done(function (resp) {
                        $('#mem_productProductEditModalRenderBody').html(resp);
                        $('#mem_productProductEditModalLabel').text('แก้ไขผลิตผลที่ต้องการ');
                        $('#product_code').text(data[1]);
                        $('#mem_productProductEditModal').modal({ backdrop: 'static', keyboard: false });
                    });
                });*@
                @*$('#product_type').off('change').on('change', function () {
                    var sPattern = $('#searchPattern').val().trim();
                    $.ajax({
                        type: 'get', url: '@Url.Action("DetailsAsJsonList", "products")' + '?product_type_code=' + $('#product_type').val() + '&product_group_code=' + $('#product_group').val() + '&pattern=' + sPattern,
                    }).done(function (resp) {
                        if (resp != "") {
                            resp = JSON.parse(resp);
                            if (!jQuery.isEmptyObject(resp)) {
                                tableProduct.clear().draw();
                                for (var i in resp) {
                                    tableProduct.row.add([resp[i].rec_no, resp[i].product_code, resp[i].product_desc, '<div id="btnS' + resp[i].id + '"><div class="btn btn-xs btn-default btn-panel-yellow" onclick="mem_productCreate(\'' + resp[i].id + '\')">&nbsp;<i class="fa fa-plus-circle" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;เลือก&nbsp;&nbsp;</div></div>']);
                                }
                                tableProduct.draw();
                            } else {
                                tableProduct.clear().draw();
                            }
                        } else {
                            tableProduct.clear().draw();
                        }
                        tableProduct.$('tr:first').click();
                    });
                });*@
                @*$('#product_group').off('change').on('change', function () {
                    $.ajax({
                        type: 'get', url: '@Url.Action("SelectBy", "product_type")' + '?product_group_code=' + $('#product_group').val(),
                    }).done(function (resp) {
                        if (resp != "") {
                            $('#product_type').empty();
                            $('#product_type').append(resp);
                            $('#product_type').trigger("change");
                        } else {
                            $('#product_type').empty();
                        }
                    });
                });
                $('#product_group').trigger("change");
                $('#mem_productProductDetailsAsTableListModal').modal({ backdrop: 'static', keyboard: false });*@

        }

        function saleproduct_standardCreate() {
            $.ajax({
                type: 'get', url: '@Url.Action("Create", "saleproduct_standard")',
            }).done(function (resp) {
                $('#saleproduct_standardCreateModalRenderBody').html(resp);


            });

            $('#saleproduct_standardCreateModal').modal({ backdrop: 'static', keyboard: false });
        }

        function saleproduct_standardPost() {
            var saleproduct_standard_code = $('#saleproduct_standard_code').val();
            var saleproduct_standard_desc_thai = $('#saleproduct_standard_desc_thai').val().trim();
            var saleproduct_standard_desc_eng = $('#saleproduct_standard_desc_eng').val().trim();

            if (!saleproduct_standard_desc_thai) { $('#saleproduct_standard_desc_thai_msg').text('กรุณากรอกข้อมูล'); $('#saleproduct_standard_desc_thai_msg').show(); } else { $('#saleproduct_standard_desc_thai_msg').hide(); }


            $.ajax({
                type: 'post', url: '@Url.Action("Save", "saleproduct_standard")' + '?saleproduct_standard_code=' + saleproduct_standard_code +
                    '&saleproduct_standard_desc_thai=' + saleproduct_standard_desc_thai + '&saleproduct_standard_desc_eng=' + saleproduct_standard_desc_eng
        ,
            }).done(function (resp) {
                if (resp != "") {
                    if (resp.result == "success") {
                        $('#saleproduct_standardCreateModal').modal('hide');
                        saleproduct_standardDetailsAsTableList();
                    } else {

                        $('#saleproduct_standardCreateModal').modal('hide');
                    }
                }
            });
        }

        function mem_saleproduct_standardCreate(saleproduct_standard_code) {
            var id = "btn" + saleproduct_standard_code;
            var oldV = $('#' + id).html();
            $('#' + id).html('<i class="fa fa-spin fa-refresh" aria-hidden="true" style="color:#093D6A;"></i>');
            $.ajax({
                type: 'post', url: '@Url.Action("Create", "mem_saleproduct_standard")' + '?saleproduct_standard_code=' + saleproduct_standard_code +
                    '&saleproduct_code=' + $('#saleproduct_code').val() + '&memberId=' + '@ViewBag.memberId'
            }).done(function (resp) {
                if (resp != "") {
                    if (resp.result == "success") {
                        $('#saleproduct_standardCreateModal').modal('hide');
                    } else {

                        $('#saleproduct_standardCreateModal').modal('hide');
                    }
                }
                setTimeout(function () { $('#' + id).html(oldV); }, 500);
            });
        }













        function mem_productProductCreateGet(memberId) {
            $.ajax({
                type: 'get', url: '@Url.Action("Create", "products")' + '?memberId=' + memberId,
            }).done(function (resp) {
                $('#mem_productProductCreateModalRenderBody').html(resp);
                $('#mem_productProductCreateModalLabel').text('เพิ่มผลิตผลที่ต้องการ');
                $('#product_group_code').text($('#product_group').val());
                $('#product_type_code').text($('#product_type').val());
                $('#product_code').val(''); $('#product_desc').val('');
            });
            $('#mem_productProductCreateModal').modal({ backdrop: 'static', keyboard: false });
        }


        function mem_productProductEditPost() {
            var product_group_code = $('#product_group').val();
            var product_type_code = $('#product_type').val();
            var productCode = $('#product_code').text();
            var productDesc = $('#product_desc').val().trim();
            if (productDesc == "") { $('#product_desc_msg').text('กรุณากรอกข้อมูล'); }
            if ((productDesc != '')) {
                $.ajax({
                    type: 'post', url: '@Url.Action("Edit", "products")' + '?product_code=' + productCode + '&product_desc=' + productDesc,
                }).done(function (resp) {
                    console.log(resp);
                    if (resp != "") {
                        if (resp.result == "success") {
                            console.log(product_group_code + " " + product_type_code + " " + productCode);
                            $('#product_group').trigger("change");
                            setTimeout(function () {
                                $('#product_group').val(product_group_code);
                                setTimeout(function () {
                                    $('#product_type').val(product_type_code);
                                    $('#product_type').trigger("change");
                                }, 200);
                            }, 100);
                            $('#mem_productProductEditModal').modal('hide');
                        } else if (resp.result == "fail") {
                            //$('#product_code_msg').text('รหัสผลิตผลซ้ำ');
                        }

                    }

                });

            }
        }
        function mem_productCreate(productId) {
            var id = "btnS" + productId;
            //var oldV = $("div[id='" + id + "']").text();
            var oldV = $('#' + id).html();
            $('#' + id).html('<i class="fa fa-spin fa-refresh" aria-hidden="true" style="color:#093D6A;"></i>');

            $.ajax({
                type: 'get', url: '@Url.Action("Create", "mem_product")' + '?memberId=@ViewBag.memberId&productId=' + productId,
            }).done(function (resp) {
                if (resp.result == "success") {
                    var table = $('#dataTablesSimple').DataTable();
                    table.row.add([resp.rec_no, resp.mem_product_id, resp.product_group_desc, resp.product_type_desc, resp.product_desc]);
                    table.draw();
                } else {

                }
                setTimeout(function () { $('#' + id).html(oldV); }, 500);
            });
        }
        function mem_productEdit(mem_productId, productId) {
            $.ajax({
                type: 'get', url: '@Url.Action("Edit", "mem_product")' + '?memberId=@ViewBag.memberId&productId=' + productId + '&mem_productId=' + mem_productId,
            }).done(function (resp) {
                console.log(resp);
                if (resp.result == "success") {
                    $('#mem_productProductDetailsAsTableListModal').modal('hide');
                    window.location.href = "@Url.Action("Index", "mem_product", new {memberId = ViewBag.memberId})";
                } else {

                }
            });
        }
        function mem_productProductSearch() {
            console.log('test');
            $('#product_type').trigger("change");
        }
    </script>
}

